/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #07080c;
}
.heading {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  font-style: italic;
  padding-top: 20px;
}
.speedometer-img {
  width: 300px;
  height: 125px;
}
.speed-text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  color: #cbd5e1;
}
.speed-limits {
  font-family: Roboto;
  font-size: 12px;
  color: #94a3b8;
  text-align: center;
}
.button {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  padding: 11px;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 40px;
}
.btn-blue {
  background-color: #0b69ff;
  margin-right: 10px;
}
.btn-black {
  background-color: transparent;
  border: 2px solid #cbd5e1;
  color: #94a3b8;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
  }
  .speedometer-img {
    width: 700px;
    height: 300px;
  }
  .speed-text {
    font-size: 32px;
  }
  .speed-limits{
    font-size: 16px;
  }
}
